--extra-index-url https://download.pytorch.org/whl/cpu

flask>=3.0
opencv-contrib-python>=4.8
numpy==1.26.4
torch>=2.0
torchvision>=0.15
Pillow>=11.0.0
facenet-pytorch>=2.5
werkzeug>=3.0
requests>=2.31
gunicorn==23.0.0
